.microphone {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.microphone::before {
    display: none;
    content: "First of all you need to log in!";
    position: absolute;
    top: -20px;
    right: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    width: 100vw;
}